body{
  background-color: #9fc0f4;
  color: #666;
  font-family: 'Pacifico', Georgia;
  font-weight: normal;
}

.offer{
  position: relative;
  background-color: #fff;
  padding: 20px;
  border: 10px dotted #f2a4a4;
  width: 200px;
  margin: 100px auto;
}

.offer h1{
  margin: 0px;
  font-family: 'Pacifico', Georgia;
  font-weight: normal;
  color: #d85d5d;
}

.offer p{
  margin-bottom: 0px;
}


.offer img{
  position:absolute;
  top:-70px;
  right: -70px;
}












